:host {
  display: grid;
  padding: 0 3rem 0 3rem;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

img {
  grid-column-start: 1;
  grid-column-end: 3;
}

tl-pie-chart {
  justify-self: center;
}
